.main-media{
  height: 500px;
  font: 14px "Helvetica Neue LT W1G", Helvetica;
  font-style: normal;
  margin-top: 100px;
}
.main-media-title{
  color: var(--Accent-Teal, #00677f);
  font: 18px "Helvetica Neue LT W1G", Helvetica;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 1.8px;
  text-transform: uppercase;
  white-space: nowrap;
  margin-bottom: 50px;
  margin-left: 110px;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 30px;
}
.leftdiv {
  width: 360px;
  height: 317px;
  flex-shrink: 0;
  border-radius: 2px;
  background: rgba(244,244,245,255);
  margin-bottom: 10px;
  padding: 20px;
}
.leftdiv .p {
  margin: -232px 25px 89px 0px;
  position: relative;
  width: 382px;
  height: 257px;
  font: 16px "Helvetica Neue LT W1G", Helvetica;
  font-weight: 400;
  font-style: italic;
  color: #222222;
  letter-spacing: 0;
  line-height: 1.5rem;
  padding-right: 60px;
}
.logo {
  width: 40px;
  height: 40px;
  margin: 24px 328px 253px 0px;
}
.p > div {
  font-size: 14px;
  font-family: "Helvetica Neue LT W1G-55Roman", Helvetica;
  font-weight: 400;
  color: rgba(84, 88, 90, 1);
  padding-top: 30px !important;
}
@media only screen and (max-width: 1260px) {
  .leftdiv {
    width: 340px;
  }
  .logo{
    margin: 24px 250px 253px 0px;
  }
  .leftdiv .p{
    width: 340px;
    padding-right: 40px;
  }
}
.with-background{
  background-color: #f5f5f5;
  padding: 80px 0px;
}