.newsletter{
 width: 1140px;
 height: 178px;
 padding: 24px 24px 24px 32px;
 display: flex;
 justify-content: space-between;
 align-items: center;
 background-color: rgba(245, 245, 245, 1);
 margin-bottom: 100px;
 margin-top: 100px;
}
.cnter{
 display: flex;
 align-items: center;
 justify-content: center;
 width: 100%;
}
.newsletter-text-top{
 font: 20px "Helvetica Neue LT W1G", Helvetica;
 font-weight: 500;
 line-height: 28px;
 text-align: left;
}
.newsletter-tect-mid{
 font: 16px "Helvetica Neue LT W1G", Helvetica;
 font-weight: 400;
 line-height: 24px;
 text-align: left;
}
.email{
 font: 14px "Helvetica Neue LT W1G", Helvetica;
 font-weight: 500;
 line-height: 22px;
 text-align: left;
}
.newsletter-text > input{
 width: 452px;
 height: 35px;
 border-radius: 2px 0px 0px 0px;
 background-color: rgba(255, 255, 255, 1);
 border: none;
 outline: none;
 margin-top: 15px;
 padding: 10px;
}
.newsletter-text > input::placeholder{
 font: 14px "Helvetica Neue LT W1G", Helvetica;
 font-weight: 400;
 line-height: 22px;
 text-align: left;
}

